@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print, (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media only screen and (max-width: 767.98px) {
  html {
    min-height: 100vh;
    font-size: 1.3333333333vw;
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 1.5384615385vw;
  }
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #111;
  line-height: 1.5;
}

img {
  width: 100%;
}

.object-fit {
  object-fit: cover;
}

.trans {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.trans:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
  }
}

@media print, (min-width: 768px) {
  .wrapper {
    width: calc(100% - 60px);
    max-width: 1900px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .wrapper {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.list-style {
  list-style: none;
}

.no-scroll {
  overflow: hidden; /* Vô hiệu hóa cuộn */
}

.object-fit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
}

.info-primary {
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  text-align: center;
}

.title-primary {
  color: #bea680;
  font-style: italic;
  font-family: 'EB Garamond', sans-serif;
  font-size: 3rem;
  display: inline-block;
}

.heading-primary {
  font-size: 12rem;
  font-weight: 400;
  display: block;
  color: #fff;
  margin-bottom: 3rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-primary {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-primary {
    font-size: 9rem;
  }
}

.button-primary {
  position: relative;
  display: flex;
  vertical-align: middle;
  width: max-content;
  margin: 0 auto;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.07em;
  outline: 0;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .button-primary {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .button-primary {
    font-size: 2.5rem;
  }
}
.button-primary:hover {
  opacity: 0.8;
}
.button-primary.red {
  color: #f15a2f;
  border: 1px solid #826448;
}

.heading-secondary {
  font-family: 'EB Garamond', sans-serif;
  position: relative;
  font-size: 6rem;
  font-weight: 500;
  display: block;
  color: #111;
  margin: 0 auto 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-secondary {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary {
    font-size: 4rem;
  }
}
.heading-secondary .heading-text {
  max-width: 75%;
  padding: 0 4rem;
}
@media print, (min-width: 768px) {
  .heading-secondary .heading-text {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary .heading-text {
    padding: 0 2rem;
  }
}
.heading-secondary .line {
  width: 25%;
  height: 1px;
  background-color: #49413a;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-secondary .line {
    flex: 1;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary .line {
    width: 17%;
  }
}
.heading-secondary .line-left {
  left: 0;
}
.heading-secondary .line-right {
  right: 0;
}

.button-secondary {
  font-size: 1.8rem;
  position: relative;
  font-family: 'EB Garamond', sans-serif;
  transition: all 0.3s ease-in-out;
  color: #bea680;
  width: max-content;
}
.button-secondary:hover {
  color: #f15a2f;
}
.button-secondary:hover::before,
.button-secondary:hover::after {
  width: 50%;
}
.button-secondary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  background-color: #f15a2f;
  transition: all 0.3s ease-in-out;
}
.button-secondary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  background-color: #f15a2f;
  transition: all 0.3s ease-in-out;
}

.button-tertiary {
  color: #bea680;
  position: relative;
}
.button-tertiary:hover {
  color: #f15a2f;
}
.button-tertiary:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scaleX(2.5) translateX(0);
}
.button-tertiary::before {
  content: '→';
  position: absolute;
  left: -45%;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(1) translateX(-15px);
  transition: all 0.3s ease-in-out;
}

.banner-common {
  background: var(--url-backgroundBanner);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .banner-common {
    height: 30rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .banner-common {
    height: 24rem;
    padding: 5rem 0;
  }
}

.heading-territory {
  font-family: 'EB Garamond', sans-serif;
  position: relative;
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
  display: block;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-territory {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-territory {
    font-size: 5.5rem;
  }
}

.wrapper-product-primary {
  background: var(--url-backgroundPainting);
  padding: 8rem 0 6rem;
}
.wrapper-product-primary .list-product-primary {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 4rem;
  margin-bottom: 5rem;
}
.wrapper-product-primary .list-product-primary .item-product-primary {
  width: calc(25% - 4rem);
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  height: max-content;
  padding: 1.4rem;
  background-color: rgba(243, 243, 243, 0.9);
}
.wrapper-product-primary
  .list-product-primary
  .item-product-primary:hover
  .item-thumbnail::before,
.wrapper-product-primary
  .list-product-primary
  .item-product-primary:focus
  .item-thumbnail::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@media only screen and (max-width: 767.98px) {
  .wrapper-product-primary .list-product-primary .item-product-primary {
    width: 45%;
  }
}
.wrapper-product-primary .list-product-primary .item-product-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  border: 1.5rem solid;
  border-bottom-color: #bea680;
  border-top-color: #826448;
  border-left-color: #826448;
  border-right-color: #bea680;
}
.wrapper-product-primary .list-product-primary .item-thumbnail {
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  align-self: flex-end;
  position: relative;
  z-index: 12;
}
.wrapper-product-primary .list-product-primary .item-thumbnail img {
  transition: all 0.3s ease-in-out;
}
.wrapper-product-primary .list-product-primary .item-thumbnail::before {
  position: absolute;
  top: 0;
  left: -83%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.wrapper-product-primary .list-product-primary .item-box {
  position: relative;
  z-index: 12;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  right: 0;
}
.wrapper-product-primary .list-product-primary .box-info {
  color: #826448;
  text-align: center;
  font-family: 'EB Garamond', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper-product-primary .list-product-primary .box-info .info-type {
  max-width: 13rem;
  /* Both of the following are required for text-overflow */
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper-product-primary .list-product-primary .box-info .info-text {
  max-width: 13rem;
  /* Both of the following are required for text-overflow */
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wrapper-product-primary .list-product-primary .item-name {
  color: #f15a2f;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'EB Garamond', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 767.98px) {
  .wrapper-product-primary .list-product-primary .item-name {
    font-size: 2.2rem;
  }
}
