@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print, (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media only screen and (max-width: 767.98px) {
  html {
    min-height: 100vh;
    font-size: 1.3333333333vw;
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 1.5384615385vw;
  }
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #111;
  line-height: 1.5;
}

img {
  width: 100%;
}

.object-fit {
  object-fit: cover;
}

.trans {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.trans:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
  }
}

@media print, (min-width: 768px) {
  .wrapper {
    width: calc(100% - 60px);
    max-width: 1900px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 767.98px) {
  .wrapper {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

ul,
ol {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.list-style {
  list-style: none;
}

.no-scroll {
  overflow: hidden; /* Vô hiệu hóa cuộn */
}

.object-fit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
}

.info-primary {
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  text-align: center;
}

.title-primary {
  color: #bea680;
  font-style: italic;
  font-family: 'EB Garamond', sans-serif;
  font-size: 3rem;
  display: inline-block;
}

.heading-primary {
  font-size: 12rem;
  font-weight: 400;
  display: block;
  color: #fff;
  margin-bottom: 3rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-primary {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-primary {
    font-size: 9rem;
  }
}

.button-primary {
  position: relative;
  display: flex;
  vertical-align: middle;
  width: max-content;
  margin: 0 auto;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.07em;
  outline: 0;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .button-primary {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .button-primary {
    font-size: 2.5rem;
  }
}
.button-primary:hover {
  opacity: 0.8;
}
.button-primary.red {
  color: #f15a2f;
  border: 1px solid #826448;
}

.heading-secondary {
  font-family: 'EB Garamond', sans-serif;
  position: relative;
  font-size: 6rem;
  font-weight: 500;
  display: block;
  color: #111;
  margin: 0 auto 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-secondary {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary {
    font-size: 4rem;
  }
}
.heading-secondary .heading-text {
  max-width: 75%;
  padding: 0 4rem;
}
@media print, (min-width: 768px) {
  .heading-secondary .heading-text {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary .heading-text {
    padding: 0 2rem;
  }
}
.heading-secondary .line {
  width: 25%;
  height: 1px;
  background-color: #49413a;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-secondary .line {
    flex: 1;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-secondary .line {
    width: 17%;
  }
}
.heading-secondary .line-left {
  left: 0;
}
.heading-secondary .line-right {
  right: 0;
}

.button-secondary {
  font-size: 1.8rem;
  position: relative;
  font-family: 'EB Garamond', sans-serif;
  transition: all 0.3s ease-in-out;
  color: #bea680;
  width: max-content;
}
.button-secondary:hover {
  color: #f15a2f;
}
.button-secondary:hover::before,
.button-secondary:hover::after {
  width: 50%;
}
.button-secondary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  background-color: #f15a2f;
  transition: all 0.3s ease-in-out;
}
.button-secondary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  background-color: #f15a2f;
  transition: all 0.3s ease-in-out;
}

.button-tertiary {
  color: #bea680;
  position: relative;
}
.button-tertiary:hover {
  color: #f15a2f;
}
.button-tertiary:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scaleX(2.5) translateX(0);
}
.button-tertiary::before {
  content: '→';
  position: absolute;
  left: -45%;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(1) translateX(-15px);
  transition: all 0.3s ease-in-out;
}

@media print, (min-width: 768px) and (max-width: 1024px) {
  .banner-common {
    height: 30rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .banner-common {
    height: 24rem;
    padding: 5rem 0;
  }
}

.heading-territory {
  font-family: 'EB Garamond', sans-serif;
  position: relative;
  text-align: center;
  font-size: 6rem;
  font-weight: 500;
  display: block;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .heading-territory {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-territory {
    font-size: 5.5rem;
  }
}

.section-detail-product .product-inner {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-detail-product .product-inner {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767.98px) {
  .section-detail-product .product-inner {
    width: 100%;
    flex-direction: column;
    font-size: 3rem;
    line-height: 1.6;
  }
}
.section-detail-product .product-left {
  width: 65%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.section-detail-product .product-left .thumbnail-preview {
  width: 20%;
}
@media only screen and (max-width: 767.98px) {
  .section-detail-product .product-left .thumbnail-preview {
    display: none;
  }
}
.section-detail-product .product-left .list-thumbnail-preview {
  display: flex;
  flex-direction: column;
}
.section-detail-product .product-left .list-thumbnail-preview .preview-item {
  height: auto;
}
.section-detail-product .product-left .list-thumbnail-preview img {
  height: auto;
}
.section-detail-product .product-left .thumbnail-hero {
  width: 80%;
  flex: 1;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-detail-product .product-left {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .section-detail-product .product-left {
    width: 100%;
    margin-bottom: 4rem;
  }
}
.section-detail-product .product-right {
  background-color: #f3f0e5;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1.4rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-detail-product .product-right {
    width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .section-detail-product .product-right {
    width: 100%;
  }
}
.section-detail-product .title-product {
  font-family: 'EB Garamond', sans-serif;
  font-size: 2.8rem;
}
@media screen and (max-width: 1300px) {
  .section-detail-product .title-product {
    font-size: 2.3rem;
  }
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-detail-product .title-product {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .section-detail-product .title-product {
    font-size: 4.5rem;
  }
}
.section-detail-product .button-contact {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'EB Garamond', sans-serif;
  color: #fff;
  background-color: #bea680;
  padding: 1rem 3rem;
  transition: all 0.3s ease-in-out;
}
.section-detail-product .button-contact:hover {
  background-color: #826448;
}

.section-intro-painting {
  margin-bottom: 5rem;
}
.section-intro-painting .heading-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.section-intro-painting .intro-inner {
  background-color: #f3f0e5;
  border: 1px solid #bea680;
  padding: 2rem;
}

.section-artist-painting {
  margin-bottom: 5rem;
  font-size: 2rem;
}
.section-artist-painting .heading-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.section-artist-painting .artist-box {
  display: flex;
  justify-content: space-between;
}
.section-artist-painting .artist-box {
  width: 100%;
  border: 1px solid #bea680;
  background-color: #f3f0e5;
  padding: 2rem;
}
.section-artist-painting .box-content {
  width: 75%;
}
.section-artist-painting .box-thumbnail {
  width: 20%;
}

.section-painting-similar {
  margin-bottom: 5rem;
  font-size: 2rem;
  gap: 3rem;
}
.section-painting-similar .heading-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.section-painting-similar .similar-box {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 2rem;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-painting-similar .similar-box {
    padding: 0 2rem 2rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .section-painting-similar .similar-box {
    padding: 0 2rem 2rem;
  }
}
.section-painting-similar .blog-info {
  display: flex;
  flex-direction: column;
}
.section-painting-similar .similar-thumbnail {
  margin-bottom: 1.5rem;
  display: inline-block;
}
.section-painting-similar .similar-title {
  font-weight: 400;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'EB Garamond', sans-serif;
}
.section-painting-similar .similar-slide a {
  color: #111;
}
.section-painting-similar .button-control {
  color: white;
  background-color: #bea680;
  aspect-ratio: 1/1;
  width: 30px;
  height: 30px;
  top: 40%;
  transition: all 0.3s ease-in-out;
}
@media print, (min-width: 768px) and (max-width: 1024px) {
  .section-painting-similar .button-control {
    top: 30%;
  }
}
.section-painting-similar .button-control::after {
  font-size: 20px;
}
.section-painting-similar .button-control:hover {
  opacity: 0.8;
}
.section-painting-similar .swiper-pagination-bullet-active {
  background-color: #bea680;
}
.section-painting-similar .swiper-pagination {
  bottom: 0;
}
